.check-container {
	border: 1px solid hsl(var(--primary));
	display: flex;
	align-items: center;
	justify-content: center;
}
.check-container * {
	display: none;
}
.check-container.selected {
	background-color: hsl(var(--primary));
}
.check-container.selected * {
	display: unset;
}
.check-container:hover {
	background-color: hsl(var(--primary));
}
.check-container:hover * {
	display: unset;
}
