.display2xlRegular {
	// font-family: Inter;
	font-size: 72px;
	font-weight: 400;
	line-height: 82px;
	letter-spacing: -0.03em;
	text-align: left;
}
.display2xlMedium {
	// font-family: Inter;
	font-size: 72px;
	font-weight: 500;
	line-height: 82px;
	letter-spacing: -0.03em;
	text-align: left;
}
.display2xlSemibold {
	// font-family: Inter;
	font-size: 72px;
	font-weight: 600;
	line-height: 82px;
	letter-spacing: -0.03em;
	text-align: left;
}
.display2xlbold {
	// font-family: Inter;
	font-size: 72px;
	font-weight: 700;
	line-height: 82px;
	letter-spacing: -0.03em;
	text-align: left;
}

.displayxlRegular {
	// font-family: Inter;
	font-size: 60px;
	font-weight: 400;
	line-height: 72px;
	letter-spacing: -0.03em;
	text-align: left;
}
.displayxlMedium {
	// font-family: Inter;
	font-size: 60px;
	font-weight: 500;
	line-height: 72px;
	letter-spacing: -0.03em;
	text-align: left;
}
.displayxlSemibold {
	// font-family: Inter;
	font-size: 60px;
	font-weight: 600;
	line-height: 72px;
	letter-spacing: -0.03em;
	text-align: left;
}
.displayxlbold {
	// font-family: Inter;
	font-size: 60px;
	font-weight: 700;
	line-height: 72px;
	letter-spacing: -0.03em;
	text-align: left;
}

.displaylgRegular {
	// font-family: Inter;
	font-size: 48px;
	font-weight: 400;
	line-height: 52px;
	letter-spacing: -0.03em;
	text-align: left;
}
.displaylgMedium {
	// font-family: Inter;
	font-size: 48px;
	font-weight: 500;
	line-height: 52px;
	letter-spacing: -0.03em;
	text-align: left;
}
.displaylgSemibold {
	// font-family: Inter;
	font-size: 48px;
	font-weight: 600;
	line-height: 52px;
	letter-spacing: -0.03em;
	text-align: left;
}
.displaylgbold {
	// font-family: Inter;
	font-size: 48px;
	font-weight: 700;
	line-height: 52px;
	letter-spacing: -0.03em;
	text-align: left;
}

.displaymdRegular {
	ily: Inter;
	font-size: 36px;
	font-weight: 400;
	line-height: 44px;
	letter-spacing: -0.03em;
	text-align: left;
}
.displaymdMedium {
	// font-family: Inter;
	font-size: 36px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: -0.03em;
	text-align: left;
}
.displaymdSemibold {
	// font-family: Inter;
	font-size: 36px;
	font-weight: 600;
	line-height: 44px;
	letter-spacing: -0.03em;
	text-align: left;
}
.displaymdbold {
	// font-family: Inter;
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
	letter-spacing: -0.03em;
	text-align: left;
}

.displaysmRegular {
	// font-family: Inter;
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: -0.03em;
	text-align: left;
}
.displaysmMedium {
	// font-family: Inter;
	font-size: 32px;
	font-weight: 500;
	line-height: 40px;
	letter-spacing: -0.03em;
	text-align: left;
}
.displaysmSemibold {
	// font-family: Inter;
	font-size: 32px;
	font-weight: 600;
	line-height: 40px;
	letter-spacing: -0.03em;
	text-align: left;
}
.displaysmbold {
	// font-family: Inter;
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: -0.03em;
	text-align: left;
}

.displayxsRegular {
	// font-family: Inter;
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: -0.03em;
	text-align: left;
}
.displayxsMedium {
	// font-family: Inter;
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: -0.03em;
	text-align: left;
}
.displayxsSemibold {
	// font-family: Inter;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: -0.03em;
	text-align: left;
}
.displayxsbold {
	// font-family: Inter;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: -0.03em;
	text-align: left;
}

.xlRegular {
	// font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: -0.02em;
	text-align: left;
}
.xlMedium {
	// font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: -0.02em;
	text-align: left;
}
.xlSemibold {
	// font-family: Inter;
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: -0.02em;
	text-align: left;
}
.xlbold {
	// font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: -0.02em;
	text-align: left;
}

.lgRegular {
	// font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: -0.02em;
	text-align: left;
}
.lgMedium {
	// font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: -0.02em;
	text-align: left;
}
.lgSemibold {
	// font-family: Inter;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: -0.02em;
	text-align: left;
}
.lgbold {
	// font-family: Inter;
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: -0.02em;
	text-align: left;
}

.mdRegular {
	// font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.02em;
	text-align: left;
}
.mdMedium {
	// font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: -0.02em;
	text-align: left;
}
.mdSemibold {
	// font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: -0.02em;
	text-align: left;
}
.mdbold {
	// font-family: Inter;
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: -0.02em;
	text-align: left;
}

.smRegular {
	// font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.02em;
	text-align: left;
}
.smMedium {
	// font-family: Inter;
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: -0.02em;
	text-align: left;
}
.smSemibold {
	// font-family: Inter;
	font-size: 14px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: -0.02em;
	text-align: left;
}
.smbold {
	// font-family: Inter;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: -0.02em;
	text-align: left;
}

.xsRegular {
	// font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
}
.xsMedium {
	// font-family: Inter;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
}
.xsSemibold {
	// font-family: Inter;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
}
.xsBold {
	// font-family: Inter;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
}

.MacroRegular {
	// font-family: Inter;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: left;
}
.MacroMedium {
	// font-family: Inter;
	font-size: 10px;
	font-weight: 500;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: left;
}
.MacroSemibold {
	// font-family: Inter;
	font-size: 10px;
	font-weight: 600;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: left;
}
.Macrobold {
	// font-family: Inter;
	font-size: 10px;
	font-weight: 700;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: left;
}

.neutral700 {
	color: var(--neutral700);
}
.darkNeutral700 {
	color: var(--darkNeutral700);
}
.darkNeutral500 {
	color: var(--darkNeutral500);
}
.darkNeutral0 {
	color: var(--darkNeutral0);
}
.systemInfo100 {
	color: var(--systemInfo100);
}

.brandDenimBlue700 {
	color: var(--brandDenimBlue700);
}
.brandSupportDarkGrey700 {
	color: var(--brandSupportDarkGrey700);
}
.brandSupportDarkGrey500 {
	color: var(--brandSupportDarkGrey500);
}
.brandSupportDarkGrey700 {
	color: var(--brandSupportDarkGrey700);
}
.brandSupportLightGrey800 {
	color: var(--brandSupportLightGrey800);
}
.brandSupportLightGrey1000 {
	color: var(--brandSupportLightGrey1000);
}
.brandSupportLightGrey1100 {
	color: var(--brandSupportLightGrey1100);
}
.brandMossGreen900 {
	color: var(--brandSupportLightGrey900);
}
