@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--lightgray-100: 210, 17%, 98%, 1;
		--lightgray-200: 210, 13%, 94%, 1;
		--lightgray-300: 214, 14%, 90%, 1;
		--lightgray-400: 210, 14%, 86%, 1;
		--lightgray-500: 212, 15%, 83%, 1;
		--lightgray-800: 212, 8%, 64%, 1;
		--lightgray-900: 208, 5%, 52%, 1;
		--lightgray-1000: 210, 5%, 41%, 1;
		--lightgray-1100: 214, 5%, 30%, 1;
		--lightgray-1200: 210, 4%, 19%, 1;

		--pinegreen-700: 153, 41%, 11%, 1;

		--warmyellow-700: 48, 100%, 69%, 1;

		--darkgray-600: 211, 9%, 55%, 1;

		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 204, 56%, 31%, 1;
		--primary-foreground: 207, 26%, 93%, 1;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 212, 8%, 64%, 1;

		--success-300: 140, 75%, 92%, 1;
		--success-700: 152, 77%, 39%, 1;

		--warning-700: 34, 94%, 50%, 1;

		--neutral-700: 211, 16%, 59%, 1;

		--support: 212, 8%, 64%, 1;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;

		/* system-info */
		--systemInfo100: #f5faff;
		--systemInfo200: #eff8ff;
		--systemInfo300: #d1e9ff;
		--systemInfo400: #b2ddff;
		--systemInfo500: #84caff;
		--systemInfo600: #53b1fd;
		--systemInfo700: #2e90fa;
		--systemInfo800: #1570ef;
		--systemInfo900: #175cd3;
		--systemInfo1000: #1849a9;
		--systemInfo1100: #194185;
		--systemInfo1200: #102a56;

		/* system-error */
		--systemError100: #fffbfa;
		--systemError200: #fef3f2;
		--systemError300: #fee4e2;
		--systemError400: #fecdca;
		--systemError500: #fda29b;
		--systemError600: #f97066;
		--systemError700: #f04438;
		--systemError800: #d92d20;
		--systemError900: #b42318;
		--systemError1000: #912018;
		--systemError1100: #7a271a;
		--systemError1200: #55160c;

		/* brand-Brand/Primary/A Moss Green */
		--brandMossGreen100: #eefaf5;
		--brandMossGreen200: #d5f2e6;
		--brandMossGreen300: #bcebd6;
		--brandMossGreen400: #a3e3c7;
		--brandMossGreen500: #89dbb8;
		--brandMossGreen600: #70d4a8;
		--brandMossGreen700: #57cc99;
		--brandMossGreen800: #4aad82;
		--brandMossGreen900: #3d8f6b;
		--brandMossGreen1000: #307054;
		--brandMossGreen1100: #23523d;
		--brandMossGreen1100: #163326;

		/* brand-Brand/Primary/A Denim Blue */
		--brandDenimBlue100: #e9eef2;
		--brandDenimBlue200: #c8d5de;
		--brandDenimBlue300: #a7bcca;
		--brandDenimBlue400: #85a3b6;
		--brandDenimBlue500: #6489a2;
		--brandDenimBlue600: #43708e;
		--brandDenimBlue700: #22577a;
		--brandDenimBlue800: #1d4a68;
		--brandDenimBlue900: #183d55;
		--brandDenimBlue1000: #133043;
		--brandDenimBlue1100: #0e2331;
		--brandDenimBlue1100: #09161f;

		/* Brand Support Color/Primary/Agrix Dark Grey */
		--brandSupportDarkGrey100: #f0f2f3;
		--brandSupportDarkGrey200: #dadde1;
		--brandSupportDarkGrey300: #c4c9ce;
		--brandSupportDarkGrey400: #aeb5bc;
		--brandSupportDarkGrey500: #98a1aa;
		--brandSupportDarkGrey600: #828c97;
		--brandSupportDarkGrey700: #6c7885;
		--brandSupportDarkGrey800: #5c6671;
		--brandSupportDarkGrey900: #4c545d;
		--brandSupportDarkGrey1000: #3b4249;
		--brandSupportDarkGrey1100: #2b3035;
		--brandSupportDarkGrey1100: #1b1e21;

		/* Brand Support Color/Agrix Light Grey */

		--brandSupportLightGrey100: #f8f9fa;
		--brandSupportLightGrey200: #edeff1;
		--brandSupportLightGrey300: #e2e5e9;
		--brandSupportLightGrey400: #d7dce1;
		--brandSupportLightGrey500: #ccd2d9;
		--brandSupportLightGrey600: #c1c9d0;
		--brandSupportLightGrey700: #b6bfc8;
		--brandSupportLightGrey800: #9ba2aa;
		--brandSupportLightGrey900: #7f868c;
		--brandSupportLightGrey1000: #64696e;
		--brandSupportLightGrey1100: #494c50;
		--brandSupportLightGrey1200: #2e3032;

		//
		--blue100: #e9f2ff;
		--blue200: #cce0ff;
		--blue300: #85b8ff;
		--blue400: #579dff;
		--blue500: #388bff;
		--blue600: #1d7afc;
		--blue700: #0c66e4;
		--blue800: #0055cc;
		--blue900: #09326c;
		--blue1000: #082145;

		--darkNeutral-100: #101214;
		--darkNeutral0: #161a1d;
		--darkNeutral100: #1d2125;
		--darkNeutral200: #22272b;
		--darkNeutral300: #2c333a;
		--darkNeutral400: #454f59;
		--darkNeutral500: #596773;
		--darkNeutral600: #738496;
		--darkNeutral700: #8696a7;
		--darkNeutral800: #9fadbc;
		--darkNeutral900: #b6c2cf;
		--darkNeutral1000: #c7d1db;
		--darkNeutral1100: #dee4ea;

		--neutral0: #ffffff;
		--neutral100: #f7f8f9;
		--neutral200: #f1f2f4;
		--neutral300: #dcdfe4;
		--neutral400: #b3b9c4;
		--neutral500: #8993a5;
		--neutral600: #758195;
		--neutral700: #626f86;
		--neutral800: #44546f;
		--neutral900: #2c3e5d;
		--neutral1000: #172b4d;
		--neutral1100: #091e42;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--support: 212, 8%, 64%, 1;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

html,
body {
	@apply h-full overflow-hidden;
}

/* Fixes flexbox issues. */
* {
	min-width: 0;
	min-height: 0;
}
